{% extends 'base.html' %}

{% block title %}
    Ayuda
{% endblock %}

{% block content %}
    <h3 class="text-center py-3">Como funciona la herramienta</h3>
    <div class="text-center py-3 col-10 mx-auto font-monospace border-top">
        <span class="py-2">
            1. Se Graba el canto del ave.
            - La grabacion dura 10 segundos en finalizar.
        </span>
        <ol></ol>
        <span class="py-2">
            2. Posterior a la grabacion se activa el boton de identificacion ademas
            de mostrar de mostrar el audio que se ha grabado
        </span>
        <ol></ol>
        <span class="py-2">
            3. Al hacer click en el boton de identificar el programa crea el canto del ave
        </span>
        <ol></ol>
        <span class="py-2">
            4. Y finalmente muestra la imagen con el nombre cientifica y el nombre comun del ave identificada
        </span>
        <span class="py-2"></span>
    </div>
{% endblock %}