body {
    background-color: #B2DFDB;
    color: black;
}

/*Estilos para el Navbar*/
.navbar-gradient {
    background: linear-gradient(135deg, #00695C, #228B22);
    color: black;
}

.list-group-item {
    background-color: #A5D6A7;
    font-style: italic;
    font-weight: bold;
}

.list-group-item:hover {
    background-image: linear-gradient(135deg, #FFFFFF, #B2DFDB);
}

/*Responsive Design*/
.aspect-ratio-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Proporción 16:9 */
    overflow: hidden;
}

.aspect-ratio-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 768px) {
    .aspect-ratio-container {
        padding-top: 0;
        width: 400px;
        height: 300px; /* Tamaño moderado para computadoras */
        margin-left: auto;
        margin-right: auto;
    }

    .aspect-ratio-container img {
        position: static;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

/* Estilos para footer */
.footer {
    background: linear-gradient(135deg, #FFFFFF, #00695C);
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*Gallery*/
.image-wrapper {
    width: auto;
    height: 200px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-title {
    text-align: center;
    font-weight: bold;
}

.card-image-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .col-md-4 {
        flex-basis: 75%;
    }
}


/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    cursor: pointer;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 800px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
}

.overlay-content .overlay-info {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    margin-bottom: 20px;
}

.overlay-content .overlay-image-container {
    margin-right: 20px;
}

.overlay-content img {
    width: 300px;
    height: auto;
    border-radius: 20%;
}

.overlay-content .overlay-text {
    margin-top: auto;
}

.overlay-content h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}

.overlay-content p {
    margin: 0;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .overlay-content {
        width: 90%;
        height: auto;
    }
    
    .overlay-content img {
        width: 100%;
    }
    
    .overlay-content .overlay-info {
        flex-direction: column;
        align-items: center;
    }
}

